<label for="{{ id }}">{{ display }}</label>
<div id="{{ id }}_code" class="form-control {{ class }}">{{ value }}</div>
<input type="hidden" id="{{ id }}_value" name="{{ name }}" value="{{ value }}">
{{ if help }}
<span class="help-block">{{ help }}</span>
{{ endif }}
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-{{ if mode }}{{ mode }}{{ else }}yaml{{ endif }}.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/theme-{{ if theme }}{{ theme }}{{ else }}github{{ endif }}.js"></script>
<script>
	var editor = ace.edit('{{ id }}_code');
	editor.setTheme('ace/theme/{{ if theme }}{{ theme }}{{ else }}github{{ endif }}');
    editor.getSession().setMode('ace/mode/{{ if mode }}{{ mode }}{{ else }}yaml{{ endif }}');
	editor.setOptions({
        maxLines: Infinity
    });
	editor.getSession().on('change', function () {
      	$('#{{ id }}_value').val(''+editor.getSession().getValue());
    });
</script>
